# --extra-index-url https://download.pytorch.org/whl/cpu     # uncomment for cpu version
--find-links https://data.pyg.org/whl/torch-2.4.1+cu124.html # replace cu124 with cpu for cpu version

torch==2.4.1
torchvision
torchaudio

torch-scatter
torch-sparse
torch-cluster

huggingface_hub==0.*

lightning==2.5.0
torch_geometric==2.6.1
e3nn
scikit-learn
torchmetrics==0.*
geometric
zarr==2.18.4
pyscf==2.4.0
notebook
hydra-core==1.*
numpy
rdkit
polars
rich==13.*
pre-commit==3.*
pytest==7.*
pytest-cov
h5py
tensorboard
hydra-optuna-sweeper
hydra-colorlog
rootutils
loguru
opt_einsum
tqdm
gpustat
ase>=3.19
sphinx
sphinx-rtd-theme
pyvista[all]
basis-set-exchange
pypdf
gitpython
seaborn
lmdb
